ase==3.17
dask
dask[delayed]
dask[distributed]
h5py==2.9.0
ipyparallel
ipython
jupyter
matplotlib
numpy
pandas
periodictable
scikit-learn==0.20.3
scipy
pytest
pytest-cov
dill==0.3.2
torch>=1.6.0 
opt_einsum 
codecov
pyscf
tabulate
git+https://github.com/semodi/libnxc.git@9c3b895840a000968866a44841291926fe29aab7
